client/node_modules/
server/node_modules/
client/dist/
server/dist/
client/.env/
server/.env/
client/.next/
server/.next/
client/.nuxt/
server/seedData/
server/prisma/migrations/
server/prisma/seedData/
